@model ReviewSite.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
    <div class="card">
        <div class="card-block">
        </div>

        <div>
           Brand: @Html.DisplayFor(model => model.Category.Brand)
        </div>
        <br />
        <div>
           Make: @Html.DisplayFor(model => model.Make)
        </div>
        <br />
        <div>
           Model: @Html.DisplayFor(model => model.Model)
        </div>
        <br />
        <div>
           Description: @Html.DisplayFor(model => model.Description)
        </div>
        <br />
        <div>
           Release Date: @Html.DisplayFor(model => model.ReleaseDate)
        </div>
        <br />
        <div>
           Price: @Html.DisplayFor(model => model.Price)
        </div>

    </div>

<p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
