@model IEnumerable<ReviewSite.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-default" href="@Url.Action("Create", "Reviews")">Create New &raquo;</a>
</p>


@*Made class to represent in CSS*@


<div class="row review">

    @foreach (var item in Model)
    {
        <div class="col-md-3 thumbnail">
            <div>
               Brand: @Html.DisplayFor(modelItem => item.Category.Brand)
            </div>
            <div>
               Make: @Html.DisplayFor(modelItem => item.Make)
            </div>
            <div>
               Model: @Html.DisplayFor(modelItem => item.Model)
            </div>
            <div>
                Release Date:@Html.DisplayFor(modelItem => item.ReleaseDate)
            </div>
            <div>
               Price: @Html.DisplayFor(modelItem => item.Price)
            </div>
            <p id="button">

                @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) 

            </p>
        </div>

    }
</div>


